{% extends 'admin/adminbase.html' %}
{% block content %}

<style>


/* Set some basic styles for the table */
.table-container {
overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
max-width: 100%;
}

.table {
width: 100%;
border-collapse: collapse;
}

.table th,
.table td {
padding: 10px;
text-align: left;
border-bottom: 1px solid #ddd;
}

/* Style the table header */
.thead-light th {
background-color: #f2f2f2;
font-weight: bold;
}

/* Style the update and delete buttons */
.update-btn,
.delete-btn {
padding: 5px 10px;
background-color: #007bff;
color: #fff;
border: none;
cursor: pointer;
border-radius: 5px;
}

.delete-btn {
background-color: #dc3545;
}

/* Responsive styles using media queries */
@media screen and (max-width: 600px) {
.table th,
.table td {
    padding: 5px;
}

.update-btn,
.delete-btn {
    padding: 3px 6px;
}
}

</style>

<br>
<br>
<br>
<br>


<form action="/productupdateordelete/" method="get">
    <div class="table-container">
        <table class="table">
            <thead class="thead-light">
                <tr>

                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                    <th scope="col">Size</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for i in Upordel %}
                <tr>
                    <td style="color:black;font-weight: bolder;">{{i.productname}}</td>
                    <td style="color:black;font-weight: bolder;">{{i.productprice}}</td>
                    <td style="color:black;font-weight: bolder;">{{i.productcatagory}}</td>
                    <td style="color:black;font-weight: bolder;">{{i.productdescription}}</td>
                    <td style="color:black;font-weight: bolder;"><img src="{{i.productimage.url}}" style="width: 50px;height: 50px;"></td>
                    <td style="color:black;font-weight: bolder;">{{i.productsize}}</td>
                    <td><a style="color: white;text-decoration: none;padding: 5px 10px;background-color: #007bff;" href="/productupdating/?upid={{i.id}}">Update</a></td>
                    <td><a style="color: white;text-decoration: none;padding: 5px 10px;background-color: #ff0000;"  href="/productdelete/?upid={{i.id}}">Delete</a></td>
                </tr>
                {% endfor %}
 
            </tbody>
        </table>
    </div>
</form>
<script>
    function page() {
        window.location.href = "productupdate/"
    }
</script>







</section>
{% endblock %}
<script src="/static/admin/js/bootstrap.js"></script>
<script src="/static/admin/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/static/admin/js/scripts.js"></script>
<script src="/static/admin/js/jquery.slimscroll.js"></script>
<script src="/static/admin/js/jquery.nicescroll.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static/admin/js/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="/static/admin/js/jquery.scrollTo.js"></script>
</body>
</html>
